* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .loadingPage {
        width: 100%;
        height: 100vh;
        background-color: rgba(255,255,255,0.08);
        backdrop-filter: blur(20px);

        display: none;
    }

    .buttonsPage {
        position: fixed;
        width: 100%;
        height: 15vh;
        top: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .projectsMenuButton {
            width: 100px;
            height: 100px;
            border: 2px solid #1cc755;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
            cursor: pointer;

            img {
                transition: 0.3s ease;
                width: 90%;
                height: 90%;
            }
        }

        .projectsMenuButton:hover {
            img {
                transform: translateY(5px);
            }
        }
    }

    .projectsPage {
        width: 800px;
        height: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        transform: translate(-50%,-50%);
        background-color: transparent;
        border: 2px solid #1cc755;

        .header {
            width: 100%;
            height: 15%;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            padding: 10px;

            h2 {
                text-transform: uppercase;
                color: #fff;
            }

            button {
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;

                font-size: 30px;
                cursor: pointer;
            }
        }
    }

    .homePage {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #282c33;

        .header {
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .logo {
                display: flex;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                
                li {
                    list-style-type: none;
                    color: #abb2bf;
                    margin: 0 20px;
                    cursor: pointer;
                    transition: 0.5s;

                    span {
                        color: #1cc755;
                    }
                }

                li:hover {
                    text-decoration: underline;
                    text-decoration-color: #1cc755;

                    transform: translateY(2px);
                }

                .sel-header-link {
                    color: #fff;
                }
            }

            select {
                background-color: transparent;
                padding: 5px 10px;
                color: #abb2bf;
                font-weight: bold;
                border: 2px solid #abb2bf;
                cursor: pointer;
                background-color: #3334;
                outline: none;

                option {
                    background-color: transparent;
                }
            }
        }
    }
}